@model HMSApp.Models.VisitorModel;

@{
   ViewData["Title"] = "Visitor Page";
}

@using (Html.BeginForm("Visitor", "Home", FormMethod.Post))
{


   <div class="form-group col-md-2">
      Student Id :
      @Html.TextBoxFor(m => m.StudentId, new { @class = "form-control" })
      @Html.ValidationMessage("StudentId")
   </div><br>

   <div class="form-group col-md-2">
      Visite Date :
      @Html.TextBoxFor(m => m.VisitDate, new { @class = "form-control" ,@type = "date"})
      @Html.ValidationMessage("VisitDate")
   </div><br>

   <div class="form-group col-md-2">
      Entry Time :
      @Html.TextBoxFor(m => m.EntryTime ,new { @class = "form-control" } )
      @Html.ValidationMessage("EntryTime")
   </div><br>

   <div class="form-group col-md-2">
      Exit Time :
      @Html.TextBoxFor(m => m.ExitTime, new { @class = "form-control" })
      @Html.ValidationMessage("ExitTime")
   </div><br>

   <div class="form-group col-md-2">
      Contact No:
      @Html.TextBoxFor(m => m.VisitorContactNo, new { @class = "form-control" })
      @Html.ValidationMessage("ContactNo")
   </div><br>

   <div class="form-group col-md-2">
      Purpose Of Visit :
      @Html.TextBoxFor(m => m.Purposeofvisit, new { @class = "form-control" })
      @Html.ValidationMessage("Purposeofvisit")
   </div><br>



   <div class="row">
      <input type="submit" asp-action="AddNewStudent" class="btn btn-primary col-md-1" value="Add" /> &nbsp; &nbsp; &nbsp;
      <input type="submit" asp-action="UpdateStudent" class="btn btn-primary col-md-1" value="Update" />&nbsp; &nbsp;
      &nbsp;
      <input type="submit" asp-action="DeleteStudent" class="btn btn-primary col-md-1" value="Delete" />&nbsp; &nbsp;
      &nbsp;
   </div>
}